@model ElEmegi.Models.Urunler

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Urunler</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Baslik)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Baslik)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Aciklama)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Aciklama)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ResimYol)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ResimYol)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fiyat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fiyat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Kategori)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Kategori)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
