@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
        });
    });
</script>



<div class="banner">
    <div class="container">
        <div class="banner-text">
            <div class="col-sm-5 banner-left wow fadeInLeft animated" data-wow-delay=".5s">
                <h2>On Entire Fashion range</h2>
                <h3>Gelecek</h3>
                <h4>Our New Designs</h4>
                <div class="count main-row">
                    <ul id="example">
                        <li><span class="hours">00</span><p class="hours_text">Saat</p></li>
                        <li><span class="minutes">00</span><p class="minutes_text">Dakika</p></li>
                        <li><span class="seconds">00</span><p class="seconds_text">Saniye</p></li>
                    </ul>
                    <div class="clearfix"> </div>
                    <script type="text/javascript" src="~/Content/js/jquery.countdown.min.js"></script>
                    <script type="text/javascript">
                            $('#example').countdown({
                                date: '12/24/2020 15:59:59',
                                offset: -8,
                                day: 'Day',
                                days: 'Days'
                            }, function () {
                                alert('Done!');
                            });
                    </script>
                </div>

            </div>
            <div class="col-sm-7 banner-right wow fadeInRight animated" data-wow-delay=".5s">
                <section class="slider grid">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <h4>-30%</h4>
                                <img src="~/Content/image/g9.jpg" alt="">
                            </li>
                            <li>
                                <h4>-25%</h4>
                                <img src="~/Content/image/g9.jpg" alt="">
                            </li>
                            <li>
                                <h4>-32%</h4>
                                <img src="~/Content/image/g9.jpg" alt="">
                            </li>
                        </ul>
                    </div>
                </section>
                <!--FlexSlider-->


                <script defer src="~/Content/js/jquery.flexslider.js"></script>
                <script type="text/javascript">
                        $(window).load(function () {
                            $('.flexslider').flexslider({
                                animation: "pagination",
                                start: function (slider) {
                                    $('body').removeClass('loading');
                                }
                            });
                        });
                </script>
                <!--End-slider-script-->
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--//banner-->
<!--new-->

<!--//new-->
<!--gallery-->
@model IEnumerable<ElEmegi.Models.Urunler>

<div class="gallery">
    <div class="container">
        <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
            <h3 class="title">Populer Ürünler</h3>
            <p>Populer Ürünlere Bu Sayfadan Ulaşabilirsiniz </p>
        </div>
        <div class="gallery-info">
            @foreach (var urunler in Model)
            {
                @*<div class="col-md-3 gallery-grid wow flipInY animated" data-wow-delay=".5s">
                    <a href="products.html"><img src="@urunler.ResimYol" class="img-responsive" alt="" /></a>
                    <div class="gallery-text simpleCart_shelfItem">
                        <h5><a class="name" href="single.html">@urunler.Baslik</a></h5>
                        <p><span class="item_price">@urunler.Fiyat<span> TL</span></span></p>
    
                    </div>
                </div>*@
    <div class="col-md-3 new-grid simpleCart_shelfItem wow flipInY animated" data-wow-delay=".5s">
        <div class="new-top">
            <a href="Urunler/Detay/@urunler.id"><img src="@urunler.ResimYol" class="img-responsive" alt="" /></a>
            <div class="new-text">
                <ul>
                    <li><a class="item_add" href=""> Sepete Ekle</a></li>
                    <li><a href="products.html">Detayları Göster</a></li>
                </ul>
            </div>
        </div>
        <div class="new-bottom">
            <h5><a class="name" href="single.html">@urunler.Baslik</a></h5>
           
            <div class="ofr">
                <p class="pric1"><span>Fiyat</span></p>
                <p><span class="item_price">@urunler.Fiyat</span></p>
            </div>
        </div>
    </div>
            }
            
            
           
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//gallery-->
<!--trend-->
<div class="trend wow zoomIn animated" data-wow-delay=".5s">
    <div class="container">
        <div class="trend-info">
            <section class="slider grid">
                <div class="flexslider trend-slider">
                    <ul class="slides">
                        <li>
                            <div class="col-md-5 trend-left">
                                <img src="~/Content/image/g9.jpg" alt="" />
                            </div>
                            <div class="col-md-7 trend-right">
                                <h4>Sizin İçin En İyi 10 Ürün</h4>
                                <h5>Flat 20% OFF</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus, justo ac volutpat vestibulum, dolor massa pharetra nunc, nec facilisis lectus nulla a tortor. Duis ultrices nunc a nisi malesuada suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam eu bibendum felis. Sed viverra dapibus tincidunt.</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="col-md-5 trend-left">
                                <img src="~/Content/image/g9.jpg" alt="" />
                            </div>
                            <div class="col-md-7 trend-right">
                                <h4>TOP 10 TRENDS <span>FOR YOU</span></h4>
                                <h5>Flat 20% OFF</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus, justo ac volutpat vestibulum, dolor massa pharetra nunc, nec facilisis lectus nulla a tortor. Duis ultrices nunc a nisi malesuada suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam eu bibendum felis. Sed viverra dapibus tincidunt.</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="col-md-5 trend-left">
                                <img src="~/Content/image/g9.jpg" alt="" />
                            </div>
                            <div class="col-md-7 trend-right">
                                <h4>TOP 10 TRENDS <span>FOR YOU</span></h4>
                                <h5>Flat 20% OFF</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus, justo ac volutpat vestibulum, dolor massa pharetra nunc, nec facilisis lectus nulla a tortor. Duis ultrices nunc a nisi malesuada suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam eu bibendum felis. Sed viverra dapibus tincidunt.</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="col-md-5 trend-left">
                                <img src="~/Content/image/g9.jpg" alt="" />
                            </div>
                            <div class="col-md-7 trend-right">
                                <h4>TOP 10 TRENDS <span>FOR YOU</span></h4>
                                <h5>Flat 20% OFF</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus, justo ac volutpat vestibulum, dolor massa pharetra nunc, nec facilisis lectus nulla a tortor. Duis ultrices nunc a nisi malesuada suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam eu bibendum felis. Sed viverra dapibus tincidunt.</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>
